
html {
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;;
}
nav {
    height: 50px;
    background-color: #212121;
    
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none; /*убираем точки из списка*/
}
.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}
.menu .menu_item {
    padding-right: 28px;
    border-right: 2px dotted black;
}
.subheader {
    position: absolute; /*чтобы блоек наслаивался, меняем уродителя на поз релатив у самого блока на поз абсолют и растягиваем на 100% от родителя или смотри Promo */
    width:100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6); /*.6 = 60%*/
                    /* opacity: 0.6;просто опасити сделает прозрачным весь блок с контентом, поэтому используем для бэкграунда*/
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;   /* 100 проц от родителя для картинки в А */
    margin-top: 16px;
}
.subheader .subheader_official
{
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}
.subheader .subheader_call
{
    margin-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}
.subheader .subheader_phone
{
    display: block;
    margin-top: 6px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px; /*если блок со ссылкой больше чем кконтент в нем то можно исподьзовать лайн хайт */
}
.subheader .subheader_btn {
    display: block;
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
}

.promo {
    min-height: 800px;
    padding: 150px 0 135px 0;
    background: url('../img/backgroundTop.png') center center/cover no-repeat;
    /*указываем свойство transform:translateY(-84px) и секция поднимется на 84px  вверх и надо установить z-index у этого блока и того который будет над ним и позитион не абсолют должно быть*/
}
.promo .promo_header
{
    color: #ffffff;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
}
.promo .promo_subheader {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}
.promo .promo_descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px;
}
.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 118px;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
}
